/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand: #27CAE1;
  --vp-c-brand-light: #79DEEC;
  --vp-c-brand-dark: #0D3071;
  --vp-c-text-1: #1A1A19;
  --vp-button-brand-text: #1A1A19;
  --vp-button-brand-border: #79DEEC;
  --vp-button-brand-hover-bg: #79DEEC;
  --vp-button-brand-hover-text: #1A1A19;
  --vp-button-brand-hover-border: #0D3071;
  --vp-button-brand-active-text: #1A1A19;
  --vp-button-brand-active-border: #79DEEC;
  --vp-button-brand-active-bg: #79DEEC;
  --vp-button-alt-text: #1A1A19;
  --vp-button-alt-bg: #F9F8F6;
  --vp-button-alt-border: #F2F1ED;
  --vp-button-alt-hover-bg: #F9F8F6;
  --vp-button-alt-hover-text: #1A1A19;
  --vp-button-alt-hover-border: #0D3071;
  --vp-sidebar-bg-color: #F9F8F6;
}

.dark {
    --vp-c-gb: #343332;
    --vp-c-text-1: #F2F1ED;
    --vp-c-text-2: #EAE8E1;
    --vp-c-divider: #81807E;
    --vp-sidebar-bg-color: #1A1A19;
    --vp-c-brand-dark: #79DEEC;
    --vp-c-gutter: #676765;
    --vp-button-alt-hover-border: #79DEEC;
    --vp-button-brand-hover-border: #79DEEC;
}